@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'M PLUS 1p', sans-serif;
    
}
.live-test{
    width: 100%;
    min-height: 95vh;
    background: #ffffff;
}
.container-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.heading {
    font-size: 25px;
    background: #012c31;
    width: 100%;
    padding: 30px 0px;
    color: white;
}
.questions{
    width: 100%;
    
}
.question{
    background-color: transparent;
    width: 95%;
    /* border: 1px solid #bebdbd; */
    /* padding: 1%; */
    /* box-shadow: -1px 2px 3px #e2e1e1; */
    position: relative;
    margin: auto;
    margin-top: 50px;
}

/* .question_head p {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(12, 2, 56);
} */
.question_tail button{
    width: 100%;
    text-align: left;
    height: 70px;
    margin: 10px 0px;
    background-color: white;
    /* box-shadow: -1px 3px 3px #6e6c6c; */
    border: 1px solid #e0e0e0;
    position: relative;
    /* background: #413838; */
}

.question_tail button:hover {
    width: 100%;
    text-align: left;
    height: 70px;
    margin: 10px 0px;
    background-color: #07ff83;
}
.question_tail  span {
    text-align: left;
}
.questions-btns{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
.questions-btns button{
    background: #0b67d1;
    padding: 10px 40px;
    color: white;
}
.questions-btns button:hover {
    background: #093970;
    padding: 10px 40px;
}
.center-center{
    display: grid;
    place-items: center;
}

.go_to_box {
    /* background: #6e6c6c; */
    width: 70px;
    height: 50px;
    display: grid;
    place-items: center;
    margin: 10px;
}
.go_to_boxes{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    bottom: 100px;
}
.test_head-container  {
    font-size: 30px;
    margin: 10px 10px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
.test_head-container span{
    /* background: #b1aa53; */
    /* padding: 5px 7px;  */
    border-radius: 5px;
    margin: 0px 3px;
    /* color: white; */
    font-weight: 100;
    
}
.bottom{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.qn-title{
    font-weight: 600;
    font-size: 25px;
}
.question_h{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(12, 2, 56);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .question {
        background-color: transparent;
        width: 95%;
        position: relative;
        margin: auto;
        margin-top: 1px;
    }
    .question_head p {
        font-size: 15px;
    }
    .questions-btns button {
        background: #0b67d1;
        padding: 10px 40px;
        color: white;
    }
    .test_head-container {
        font-size: 30px;
    }
    .heading {
        font-size: 25px;
    }
    .web{
        /* display: none; */
        font-size: 10px;
    }
    .heading{
        padding: 10px 0px;
    }
    .question_tail button>span {
        font-size: 12px;
    }
    .bottom{
        position: absolute;
        bottom: 0;
    }
    .question_tail > button {
        /* font-size: 12px; */
        height: auto;
        padding: 20px 10px;
    }
    .questions-btns button {
        background: #0b67d1;
        padding: 10px 30px;
        color: white;
        font-size: 12px;
    }
    .go_to_boxes{
        overflow-y: auto;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
    }

}
.marks {
    width: 300px;
    background: #f8f8f891;
    border: 1px solid rgb(231, 230, 230);
    /* margin: auto; */
    box-shadow: 0px 1px 6px #d1d4d4;
    position: relative;
    height: 380px;
    margin-top: 20px;
    position: relative;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/* Result */

.title{
    text-align: center;
}
.per-text{
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    text-align: center;
    
}


.title span{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    position: absolute;
    top: 260px;
    left: 0;
    right: 0;
    text-align: center;
    color: #4f5152;
}
.per-text span{
    font-size: 60px;
    font-weight: 400;
    color: #585757;
}
.explanation{
    width: 100%;
    border: 1px solid #eeeded;
    padding: 20px 0px;
}
.explanation span{
    margin: 0px 10px;
    display: block;
}
.explanation b{
    font-weight: 700;
    font-size: 20px;
    color: #012c31;
    color: #29740098;
}
.abs{
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background: #ffffffc2;
}