.verification-page{
    /* background: #ffffff; */
}
.absolute-loading{
    
    display: flex;
    place-items: center;
    justify-content: center;
    place-content: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80vh;
}
.loading-container{
    width: 100px;
    height: 100px;
    /* background: red; */
}
.live-test-page{
    background: var(--deep-primary-bg);
}