/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,800&display=swap'); */

* {
    margin: 0px;
    padding: 0px;
    /* font-family: poppins; */
    /* color: white; */
}
.marks{
    width: 200px;
    background: #ffffff;
    border: 1px solid black;
}