/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,800&display=swap'); */

* {
    margin: 0px;
    padding: 0px;
}
.marks{
    width: 200px;
    background: #ffffff;
    border: 1px solid black;
}
.p-btn {
    padding: 10px 20px;
    background: #012c31;
    margin: 0px 10px;
    color: white;
    border-radius: 5px;
    font-weight: 400;
}
.tests{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: auto;
}
.btn-container a{
    color: white;
}